.profileStats {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileStats img {
  height: 18px;
  width: 18px;
}

.card {
  background: var(--base-profile);
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 864px;
  padding: 32px 40px;
}

.card header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card .content {
  width: 100%;
  margin-top: 10px;
}

.card .content h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.card footer {
  width: 100%;
  margin-top: 8px;
}

.cols {
  display: grid;
  grid-template-columns: auto auto;
}

.card > img {
  height: 148px;
  width: 148px;
  border-radius: 8px;
}

.userInfo {
  flex: 1;
}

.userHeader a {
  text-transform: uppercase;
  color: var(--blue);
  font-size: 12px;
  font-weight: 700;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userSocialMedia {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--base-subtitle);
  margin-top: 24px;
}
