.postContainer {
  --padding: 32px;

  border-radius: 10px;
  background: var(--base-post);
  padding: var(--padding);
  overflow: hidden;
  position: relative;
}

.postContainer.previewMode {
  height: 260px;
}

.previewMode .borderGlow {
  width: calc(100% + 2 * var(--padding));
  height: 20px;
  background: rgb(4, 9, 14);
  background: linear-gradient(
    0deg,
    rgb(8, 17, 26) 0%,
    rgba(9, 18, 27, 1) 35%,
    rgba(17, 33, 49, 1) 100%
  );
  position: absolute;
  bottom: 0px;
  left: 0px;
}
