* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #3294f8;
  --base-title: #e7edf4;
  --base-subtitle: #c4d4e3;
  --base-text: #afc2d4;
  --base-span: #7b96b2;
  --base-label: #3a536b;
  --base-border: #1c2f41;
  --base-post: #112131;
  --base-profile: #0b1b2b;
  --base-background: #071422;
  --base-input: #040f1a;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
a {
  font-family: 'Nunito';
  line-height: 160%;
}

h1 {
  color: var(--base-title);
}

h2 {
  color: var(--base-subtitle);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

p {
  color: var(--base-text);
}

span {
  color: var(--base-span);
}

label {
  color: var(--base-label);
}

button {
  cursor: pointer;
}

body {
  background: var(--base-background);
}
